---
import type { GetStaticPaths } from "astro";
import { locales } from "../../i18n/config";
import AppLayout from "../../layouts/app.astro";

export const getStaticPaths = (() => {
  return locales.map((locale) => ({
    params: {
      locale,
    },
  }));
}) satisfies GetStaticPaths;
---

<AppLayout>
  <div>
    <h1>Order Thai</h1>
  </div>
</AppLayout>

<style lang="scss">
  div {
    padding: 0 1rem;
  }
</style>
