---
import Navbar from "./navbar.astro";
import NavItem from "./nav-item.astro";
---

<Navbar>
  <NavItem active>
    <svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.6665 6.00016V2.00016C4.6665 1.81127 4.73039 1.65294 4.85817 1.52516C4.98595 1.39738 5.14428 1.3335 5.33317 1.3335C5.52206 1.3335 5.68039 1.39738 5.80817 1.52516C5.93595 1.65294 5.99984 1.81127 5.99984 2.00016V6.00016H6.6665V2.00016C6.6665 1.81127 6.73039 1.65294 6.85817 1.52516C6.98595 1.39738 7.14428 1.3335 7.33317 1.3335C7.52206 1.3335 7.68039 1.39738 7.80817 1.52516C7.93595 1.65294 7.99984 1.81127 7.99984 2.00016V6.00016C7.99984 6.62238 7.80817 7.16683 7.42484 7.6335C7.0415 8.10016 6.5665 8.41127 5.99984 8.56683V14.0002C5.99984 14.1891 5.93595 14.3474 5.80817 14.4752C5.68039 14.6029 5.52206 14.6668 5.33317 14.6668C5.14428 14.6668 4.98595 14.6029 4.85817 14.4752C4.73039 14.3474 4.6665 14.1891 4.6665 14.0002V8.56683C4.09984 8.41127 3.62484 8.10016 3.2415 7.6335C2.85817 7.16683 2.6665 6.62238 2.6665 6.00016V2.00016C2.6665 1.81127 2.73039 1.65294 2.85817 1.52516C2.98595 1.39738 3.14428 1.3335 3.33317 1.3335C3.52206 1.3335 3.68039 1.39738 3.80817 1.52516C3.93595 1.65294 3.99984 1.81127 3.99984 2.00016V6.00016H4.6665ZM11.3332 9.3335H9.99984C9.81095 9.3335 9.65262 9.26961 9.52484 9.14183C9.39706 9.01405 9.33317 8.85572 9.33317 8.66683V4.66683C9.33317 3.88905 9.61928 3.13905 10.1915 2.41683C10.7637 1.69461 11.3554 1.3335 11.9665 1.3335C12.1665 1.3335 12.3332 1.41127 12.4665 1.56683C12.5998 1.72238 12.6665 1.90572 12.6665 2.11683V14.0002C12.6665 14.1891 12.6026 14.3474 12.4748 14.4752C12.3471 14.6029 12.1887 14.6668 11.9998 14.6668C11.8109 14.6668 11.6526 14.6029 11.5248 14.4752C11.3971 14.3474 11.3332 14.1891 11.3332 14.0002V9.3335Z"
      ></path>
    </svg>
    <span class="ms-2">Eat</span>
  </NavItem>
  <NavItem>
    <svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.545 6.714 4.11 8H3l1.862-5h1.284L8 8H6.833l-.435-1.286zm1.634-.736L5.5 3.956h-.049l-.679 2.022z"
      ></path>
      <path
        d="M0 2a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v3h3a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-3H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zm7.138 9.995q.289.451.63.846c-.748.575-1.673 1.001-2.768 1.292.178.217.451.635.555.867 1.125-.359 2.08-.844 2.886-1.494.777.665 1.739 1.165 2.93 1.472.133-.254.414-.673.629-.89-1.125-.253-2.057-.694-2.82-1.284.681-.747 1.222-1.651 1.621-2.757H14V8h-3v1.047h.765c-.318.844-.74 1.546-1.272 2.13a6 6 0 0 1-.415-.492 2 2 0 0 1-.94.31"
      ></path>
    </svg>
  </NavItem>
  <NavItem>
    <svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M2 4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v11.5a.5.5 0 0 1-.777.416L7 13.101l-4.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v10.566l3.723-2.482a.5.5 0 0 1 .554 0L11 14.566V4a1 1 0 0 0-1-1z"
      ></path>
      <path
        d="M4.268 1H12a1 1 0 0 1 1 1v11.768l.223.148A.5.5 0 0 0 14 13.5V2a2 2 0 0 0-2-2H6a2 2 0 0 0-1.732 1"
      ></path>
    </svg>
  </NavItem>
  <NavItem moreLink>
    <svg
      width="24"
      height="24"
      viewBox="0 0 16 16"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
      ></path>
    </svg>
  </NavItem>
</Navbar>
