---
interface Props {
  active?: boolean;
  moreLink?: boolean;
}

const { active, moreLink } = Astro.props;
---

<a
  href="#"
  class:list={[
    active ? "rounded-pill active px-3" : null,
    moreLink ? "ms-auto" : null,
    "nav-link d-inline-flex align-items-center py-2",
  ]}
>
  <slot />
</a>

<style>
  /** .ms-auto is the more link */
  .ms-auto:hover,
  .ms-auto:focus {
    --bs-nav-link-hover-color: currentColor;
  }
</style>
