---

---

<nav class="navbar navbar-expand-sm bg-body d-none d-sm-flex">
  <div class="container-fluid">
    <ul class="navbar-nav flex-fill justify-content-center">
      <slot />
    </ul>
  </div>
</nav>

<style lang="scss">
  @import "../../scss/_bootstrap-base.scss";

  .container-fluid {
    max-width: map-get($container-max-widths, "md");
  }
</style>
