---
import { getCollection } from "astro:content";
import CategoryCard from "./category-card.astro";

const categories = await getCollection("category");
---

<div class="container-fluid">
  <div class="row row-cols-2 row-cols-sm-3 g-3 gy-4">
    {
      categories.map((cat) => (
        <div class="col">
          <CategoryCard category={cat} />
        </div>
      ))
    }
  </div>
</div>
