---
import { useLang } from "../i18n/utils";
import { defaultLocale } from "../i18n/config";

interface Props {
  rating?: number;
  withLabel?: boolean;
  class?: string;
}

const { currentLocale = defaultLocale } = Astro;
const t = useLang(currentLocale);

const { rating = 0, withLabel = false, class: classname } = Astro.props;
const chillis = Array.from("12345").map((_, i) => i < rating);
const labels = [
  t("No spice"),
  t("Mild"),
  t("Medium"),
  t("Spicy"),
  t("Very spicy"),
  t("Extremely spicy"),
];
---

<div class:list={["hstack", classname]}>
  {
    chillis.map((active, i) => (
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class:list={[
          !active ? "text-body-tertiary opacity-25" : "",
          i > 0 ? "ms-n1" : "",
        ]}
      >
        <path
          d="M12.9804 3.04882C11.7019 1.77029 9.62001 1.76895 8.33963 3.04929C8.28697 3.10204 8.24647 3.16426 8.19772 3.22004C8.28332 3.52807 8.44079 3.81279 8.6715 4.04357C9.2231 4.59473 10.0704 4.7467 10.7777 4.42351C10.9187 4.35941 11.0821 4.36813 11.2139 4.44776C11.3467 4.52742 11.4313 4.66704 11.4405 4.82129C11.4684 5.27767 11.6621 5.70798 11.9862 6.03207C12.4519 6.49716 13.1084 6.66917 13.7183 6.53373C14.1736 5.33588 13.8985 3.96682 12.9804 3.04882Z"
          fill={active ? "var(--bs-success)" : undefined}
        />
        <path
          d="M15.976 0.320086C15.8945 0.0747426 15.6295 -0.0566324 15.3828 0.0234614C14.4904 0.320711 13.4641 1.09624 12.7999 1.75034C13.0709 1.9109 13.3273 2.09618 13.5604 2.3179C14.1031 1.81237 14.9689 1.14965 15.6794 0.913336C15.9247 0.831399 16.0575 0.565899 15.976 0.320086Z"
          fill={active ? "var(--bs-success)" : undefined}
        />
        <path
          d="M11.3234 6.69491C10.9787 6.35022 10.7324 5.92588 10.6033 5.46397C9.67907 5.66447 8.69257 5.39119 8.0087 4.70638C7.84916 4.54704 7.71938 4.36672 7.60404 4.17822L5.57751 9.21213C4.31132 12.3575 1.84426 14.0413 0.777664 14.7426C0.49157 14.9307 0.285101 15.0667 0.148226 15.1958C0.0452261 15.2923 -0.00924266 15.431 0.00128859 15.5716C0.0168511 15.7835 0.175257 15.9593 0.383976 15.9987C0.387195 15.9991 0.404132 16 0.433882 16C1.14801 16 9.47076 15.451 13.2647 7.52897L13.2711 7.51569C12.5606 7.50488 11.8573 7.22891 11.3234 6.69491Z"
          fill={active ? "var(--bs-danger)" : undefined}
        />
      </svg>
    ))
  }
  {
    rating == 5 ? (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="var(--bs-warning)"
        viewBox="0 0 16 16"
        class="ms-1"
      >
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
      </svg>
    ) : null
  }
  {
    withLabel ? (
      <span class="ms-2 text-body-secondary">{labels[rating]}</span>
    ) : null
  }
</div>
