@import "./variables";

:root {
  --text-color-emphasis: #{$color-black};
  --text-color-body: #{$color-gray-800};
  --text-color-secondary: #{$color-gray-600};
  --text-color-tertiary: #{$color-gray-400};

  --body-bg-color: #{$color-white};
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color-emphasis: #{$color-white};
    --text-color-body: #{$color-gray-200};
    --text-color-secondary: #{$color-gray-400};
    --text-color-tertiary: #{$color-gray-600};

    --body-bg-color: #{$color-gray-950};
  }
}
