$color-black: #000000;
$color-white: #ffffff;

$color-gray-50: #fcfcfd;
$color-gray-100: #f8f9fa;
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #6c757d;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;
$color-gray-950: #1a1d20;
$color-gray-975: #161719;

$color-red: #ff382e;
$color-orange: #ff9500;
$color-yellow: #ffcc00;
$color-green: #34c759;
$color-mint: #00c7bd;
$color-teal: #30afc5;
$color-cyan: #33ade6;
$color-blue: #007bff;
$color-indigo: #5957d6;
$color-purple: #b054de;
$color-pink: #ff2e54;
$color-brown: #a2845d;
